body {
    background-color: #fff;
    padding:50px;
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", system-ui, sans-serif;
    color:#595959;
    font-weight:400;
  }